body {
  padding: 1rem;
  max-width: 600px;
  margin: 0, auto;
}
#empty {
  margin-top: 50px;
}
#cancel {
  padding: 10px 20px;
  background-color: #f44336;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
#pay {
  flex: 0 0 auto;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
#button {
  margin: 30px 0px;
}
section {
  padding: 10px;
  margin: 30px 0px;
}
h2 {
  font-size: 2rem;
}
h1 {
  font-size: 3rem;
}
