.gridview {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 80%;
  flex-wrap: wrap;
  gap: 10px;
  overflow: hidden;
}
.container {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.card {
  width: 20rem;
  height: 25rem;
  border: 1px solid gray;
  border-radius: 5px;
  overflow: hidden;
}
.card > .price {
  margin-left: 1rem;
  margin-top: 0.2rem;
}
.card > .title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
}
img {
  width: 100%;
  border-bottom: 1px solid gray;
}
